<?xml version="1.0"?>
<launch>
    <param name="rostate_machine_node/description" textfile="$(find rostate_machine)/data/example_state_machine.xml"/>

    <include file="$(find rostate_machine)/launch/rostate_machine.launch">
        <arg name="dot_filepath" value="$(find rostate_machine)/data/example_state_machine.dot"/>
    </include>

    <node pkg="rostate_machine" type="example_event_client_node" name="example_event_client_node" output="log" respawn="false" respawn_delay="0">
        <param name="target_state_machine_namespace" value="rostate_machine_node/description"/>
    </node>
</launch>