<?xml version="1.0"?>
<launch>
    <arg name="xml_filepath"/>
    <arg name="dot_filepath"/>
    <arg name="state_machine_name"/>

    <node pkg="rostate_machine" type="rostate_machine_node" name="rostate_machine_node" output="screen" respawn="true">
        <param name="xml_filepath" value="$(arg xml_filepath)"/>
        <param name="dot_filepath" value="$(arg dot_filepath)"/>
        <param name="state_machine_name" value="$(arg state_machine_name)"/>
    </node>
</launch>